<header>
    <div class="container">
        <nav>
            <div class="logo">Infinity Framework</div>
            <div class="links">
                <a href="/"
                    style="color: var(--text); text-decoration: none; margin-left: 1.5rem; font-size: 0.9rem;">Home</a>
                <a href="/docs"
                    style="color: var(--text); text-decoration: none; margin-left: 1.5rem; font-size: 0.9rem;">Documentação</a>
            </div>
        </nav>
    </div>
</header>